.bss-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex: 2;
  justify-content: space-between;
}
.available-bss {
  margin-top: 100px;
  flex: 1;
}
.new-bss {
  margin: 100px 100px 0px 100px;
  flex: 1;
  border: 2px solid lightgray;
  padding: 10px;
}
.new-bss div {
  margin: 3px 0px;
}
@media screen and (max-width: 680px) {
  .bss-container {
    width: 100%;
    display: grid;
  }
  .new-bss {
    margin: 10px;
    padding: 10px;
  }
  .available-bss {
    margin: 10px;
    overflow-x: scroll;
  }
}
